{% extends "layout.html" %}
{% block title %}
Portfolio Management
{% endblock %}
{% block javascriptfile %}{{ url_for('static', filename='js/chart.js') }}{% endblock %}
{% block content %}



<!DOCTYPE html>
<html>
<head>
    <title>Stock History</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/js/history.js"></script>
</head>
<body>
    <h1>Stock Price Over Time</h1>

    <!-- Input to choose ticker -->
    <label for="tickerInput">Enter Ticker Symbol:</label>
    <input type="text" id="tickerInput" placeholder="e.g. AAPL">
    <button onclick="loadStockHistory()">Load Stock</button>
    <br><br>

    <!-- Mode selection (means time interval) -->
    <label>Select Mode:</label><br>

    <input type="radio" id="mode-d" name="mode" value="d">
    <label for="mode-d">1 day</label><br>

    <input type="radio" id="mode-w" name="mode" value="w">
    <label for="mode-w">1 week</label><br>

    <input type="radio" id="mode-m" name="mode" value="m">
    <label for="mode-m">1 month</label>
    <br><br>

    <canvas id="stockChart" width="600" height="300"></canvas>

    
</body>
</html>
