{% extends "layout.html" %}

{% block title %}
Portfolio Management
{% endblock %}

{% block stylefile %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block javascriptfile %}
{{ url_for('static', filename='js/chart.js') }}
{% endblock %}

{% block content %}
<div class="history_page">
    <h1>View Historical Closing Price</h1>

    <!-- Input to choose ticker -->
    <div class="search-container">
        <label for="tickerInput">Choose Stock:</label>
        <input list="stock-options" id="tickerInput" name="tickerInput" placeholder="Enter ticker symbol" />
        <datalist id="stock-options">
            {% for stock in stocks %}
                <option value="{{ stock.Symbol }}">{{ stock.Name }} ({{ stock.sector }}, {{ stock.country }})</option>
            {% endfor %}
        </datalist>

        <button onclick="loadStockHistory()">Load History</button>
        <br><br>

        <!-- Mode selection (means time interval) -->
        <label>Time Range:</label><br>

        <input type="radio" id="mode-d" name="mode" value="d">
        <label for="mode-d">1 Day</label><br>

        <input type="radio" id="mode-w" name="mode" value="w">
        <label for="mode-w">1 Week</label><br>

        <input type="radio" id="mode-m" name="mode" value="m">
        <label for="mode-m">1 Month</label>
        <br><br>
    </div>

    <canvas id="stockChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/history.js') }}"></script>
</div>
{% endblock %}
