{% extends "layout.html" %}
{% block title %}
Stock Portfolio Management
{% endblock %}
{% block javascriptfile %}{{ url_for('static', filename='js/market_view.js') }}{% endblock %}
{% block content %}

    {% comment %} <style>

        h1{
        font-family: Arial, sans-serif;
        text-align: center;
        margin-bottom: 30px;"
        color:black;
        }


        h3{
            font-family: Arial, sans-serif;
        }


        .container {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
        }

        .grid {
        background: white;
        border-radius: 6px;
        box-shadow: 0 0 10px rgb(0 0 0 /0.1);
        padding: 20px;
        width: 480px;
        }

        table {
        border: 2px solid green;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        }

        th, td {
        border: 1px solid green;
        text-align: left;
        padding: 4px 8px;
        border-bottom: 1px solid ddd;
        }

        th {
        background-color:rgb(8, 131, 59);
        color: white;
        }

        tbody tr:hover {
        background-color: #f1f1f1;
        }
    </style> {% endcomment %}

<div>
    <h1>Stock Portfolio Manager</h1>
    <section class="grid" id="portfolio-section">
        <h2>My Portfolio</h2>
    <table id="portfolio-table">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Stocks</th>
                        <th>Avg. Buy Price</th>
                        <th>Current Price</th>
                        <th>Gain/Loss</th>
                        <th>Buy</th>
                        <th>Sell</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Portfolio rows will be inserted here dynamically-->
                </tbody>
            </table>
        </div>

        <section class="grid" id="market-section">
            <h3>Market Overview</h3>
            <table id="Marlet-table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Company</th>
                        <th>Price</th>
                        <th>Change</th>
                        <th>% Change</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                   <!--market data rows will be inserted here-->
                </tbody>
            </table>
        </div>
    </div>

 {% endblock %}
        