{%  extends "layout.html"%}

{% block title %}
Stock Drilldown
{% endblock %}


{% block javascriptfile %}
{{ url_for('static', filename='js/market_view.js') }}
{% endblock %}


{% block content %}
<div class="Market page">
    <h1>Market Overview</h1>

    <div class="search-container">
        <input list="stock-options" id="symbol" name="stock-search" placeholder="Enter ticker symbol" />
        <datalist id="stock-options">
            {% for stock in stocks %}
                <option value="{{ stock.Symbol }}">{{ stock.Name }} ({{ stock.sector }}) ( {{ stock.country }})</option>
            {% endfor %}
        </datalist>
        <button class="styled" id="search-button" type="button" onclick="getStockData()">Search</button>
    </div>
    
    <select id="period">
        <option value="5d">5 Days</option>
        <option value="1mo" selected>1 Month</option>
        <option value="3mo">3 Months</option>
        <option value="6mo">6 Months</option>
    </select>


    <div id="result"></div>
</div>

{% endblock %}