{% extends "layout.html" %}
{% block title %}
Market View
{% endblock %}
{% block javascriptfile %} "{{ url_for('static', filename='js/market_view.js') }}"
{% endblock %}
{% block content %}

  <h2>Most Active Stocks</h2>
  <table id="stocks-table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>% Change</th>
        <th>Volume</th>
        <th>Avg Volume</th>
        <th>Market Cap</th>
        <th>P/E Ratio</th>
      </tr>
    </thead>
    <tbody id="portfolio-table-body">
      
    </tbody>
  </table>
</body>
</html>

{% endblock %}

